.datahead {
  // padding: 3vmin 0 0 3vmin;
  @include form(100%, 10vh);
  @include text($font1, 7vmin, 600, $color2);
}

.dataline {
  padding-top: 5vmin;
  // @include flex(default, center);
  @include text($font1, 5vmin, 600, $color2);
}

.databit {
  margin-left: 3vmin;
  @include form(100%, 10vh);
  @include text($font1, 5vmin, 600, $color2);
}

.paragraph {
  margin: 5vmin 0 0 3vmin;
  padding: 3vmin;
  border: 1px solid $color2;
  border-radius: 25px;
  background: $color1;
  @include form(95%, 100%);
  @include text($font2, 3vmin, 400, $color5);
}

.dataform {
  margin-top: 1.5vmin;
  @include text($font1, large, 600, $color2);
}