.overflow {
  padding-top: 10vh;
  overflow-x: hidden;
  background: $color1;
  @include form(100vw, 100vh);
}

.showcase {
  @include fill;
}

.content {
  @include form(69vw, 100%);
}

.trim {
  position: fixed;
  background: black;
  padding-top: 3vmin;
  @include form(69vw, 5vmin);
}

.trim-fill {
  @include form(100%, 3vh);
}

.break {
  @include form(100%, 15vmin);
}

.br {
  @include form(100%, 5vmin);
}

.push-left {
  @include flex(flex-end, center);
}

.column {
  @include form(100vw, 15vh);
  @include flex(space-around, default);
}

// Mobile View
@media(max-width: 800px) {
  .side {
    display: none;
  }
}

// Desktop View
@media(min-width: 800px) {
  .mobile {
    display: none;
  }

  .trim-fill {
    @include form(69vw, 10vmin);
  }

  .showcase {
    @include flex(flex-start, default);
  }

  .side {
    padding: 5vmin 0 0 3vmin;
    @include form(15vw, 100%);
  }
}

.overflow::-webkit-scrollbar {
  width: 2vmin;
  background: $color3;
}

.overflow::-webkit-scrollbar-thumb {
  background-color: $color4;
}