.book {
  background: $color4;
  @include fill;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.novel {
  padding-top: 10vmin;
  @include form(100%, 10vh);
  @include flex(center, center);
  @include text($font1, 10vmin, 600, $color2);
}

.volume {
  margin-top: 10vmin;
  @include form(100%, 10vh);
  @include flex(center, center);
  @include text($font1, 5vmin, 600, $color2);
}

.cut {
  background: $color4;
  margin-bottom: 5vmin;
  @include form(100%, 5vmin);

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}