// Themes

$color1: black;
$color2: white;
$color3: #424242;
$color4: #034D99;
$color5: #33ff66;
$font1: 'Saira', sans-serif;
$font2: 'Courier New', sans-serif;

@mixin form($w, $h) {
  width: $w;
  height: $h;
}

@mixin fill {
  width: 100%;
  height: 100%;
}

@mixin flex($x, $y) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}

@mixin text($font, $size, $weight, $color) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin image($url) {
  background-image: url($url);
  background-position: center center;
  // background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flipV {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

@mixin flipH {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

@mixin rotate($x) {
  -webkit-transform: rotate($x + 0deg);
  -moz-transform: rotate($x + 0deg);
  -o-transform: rotate($x + 0deg);
  -ms-transform: rotate($x + 0deg);
  transform: rotate($x + 0deg);
}

@mixin corners {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}