.cube-form {
  @include form(100%, 85vh);
  @include flex(center, center);

  .form {
    @include form(100%, 85vh);
    border-radius: 10px;
  }

  .creator {
    @include form(100%, 10vh);
    @include flex(center, center);
    margin-top: 3vmin;
  }

  .form-title {
    @include form(40%, 10vh);
    @include colors($s0, $c1);
    @include text($text1, 70px);
  }

  .name {
    @include form(400px, 60px);
    @include colors($c1, $s0);
    @include text($text4, 28px);
    font-weight: 600;
    border: 2px solid $c0;
    border-radius: 5px;
    text-indent: 3vmin;
    outline: none;
  }

  .name::placeholder {
    color: white;
    opacity: 0.5;
  }

  .form-wrap {
    @include flex(center, center);
    @include form (100%, 50vh);
    @include text($text1, 40px);
    margin-top: 5vmin;
  }

  .form-block {
    @include form(50vw, 100%);
    @include colors($c1, $s0);
    border: 2px solid $c0;
    border-radius: 5px;
  }

  .selector {
    @include form(100%, auto);
    @include flex(center, center);
    margin-top: 5vmin;
  }

  .type {
    @include form(100px, 50px);
    @include flex(default, center);
    margin-right: 20px;
  }

  .dropdown {
    @include form(300px, 40px);
    @include colors($c0, $s0);
    @include text($text4, 22px);
    border: 1px solid $s0;
    border-radius: 5px;
    text-indent: 2vmin;
    outline: none;
  }

  .media {
    @include form(100%, 10vh);
    @include round-bottom(10px);
    @include column(center, center);
  }

  .submit {
    @include form(100%, 15vh);
    @include flex(space-around, center);
  }

  .save {
    @include form(15vw, 10vh);
    @include colors($c0, $c5-i);
    @include text($text1, 50px);
    border: none;
    border-radius: 5px;
  } .save:hover {
      @include colors($c5-i, $s0);
    }
    .save:active {
      @include colors($s2, $c2-i);
    }
    .save:disabled {
      opacity: 0.8;
      cursor: default;
    }
    .save:disabled:hover {
      @include colors($c0, $c5-i);
    }

  .small-save {
    @extend .save;
    @include form(8vw, 6vh);
    @include text($text1, 32px);
  }

  .markers {
    @include flex(space-around, center);
    @include form(300px, 50px);
    @include text($text1, 24px);
    margin-right: 100px;
  }

  .mark {
    @include flex(center, center);
    @include form(30px, 30px);
    @include colors($c0, $s0);
    border-radius: 5px;
  }

  .mark-on {
    @extend .mark;
    @include colors($c2-i, $s1);
  }

  .side {
    @include form(2vw, 112vh);
    @include colors($c1, $s0);
    opacity: 0.4;
  }
  .left {
    @extend .side;
    @include left;
  }
  .right {
    @extend .side;
    @include right;
  }
}