.showcase {
  @include form(100%, 85vh);
  @include colors($s3, $s0);
  @include flex(center, default);

  .control {
    @include form(80vw, 30vh);
    @include flex(space-around, default);
    margin-top: 25vh;
  }

  .stack {
    @include form(100px, 50vh);
    @include column(space-around, center);
  }

  .click {
    @include form(100px, 100px);
    @include text($text1, 5vmin);
    @include colors($c0, $c5-i);
    border-radius: 40%;
  } .click:hover {
      @include colors($c1, $s0);
    }
    .click:active {
      @include colors($s2, $c2-i);
    }
}

.face {
  @include fill;
  @include colors($s1, $s0);
  @include text($text1, 5vmin);
  @include flex(center, center);
}

.shape {
	perspective: 800px;
  perspective-origin: 50% 50px;

  .cube {
    position: relative;
    width: 300px;
    transform-style: preserve-3d;
  }
  
  .cube div {
    position: absolute;
    @include form(300px, 300px);
    @include colors($s0, $s1);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 5px $s1;
  }
  
  .front {
    transform: translateZ(200px);
  }
  .right {
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
  }
  .left {
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
  }
  .back {
    transform: translateZ(-100px) rotateY(180deg);
  }
  .top {
    transform: rotateX(-90deg) translateY(-200px);
    transform-origin: top center;
  }
  .bottom {
    transform: rotateX(90deg) translateY(200px);
    transform-origin: bottom center;
  }

  // @keyframes spin {
  //   0% { transform: rotateY(0);}
  //   25% { transform: rotateY(90deg);}
  //   50% { transform: rotateY(180deg);}
  //   75% { transform: rotateY(270deg);}
  //   100% { transform: rotateY(360deg);}
  // }
  
  // .cube {
  //   animation: spin 10s infinite;
  // }
}

// @keyframes spin-vertical {
// 	from { transform: rotateX(0); }
// 	to { transform: rotateX(-360deg); }
// }

// .cube-wrap.vertical .cube {
// 	margin: 0 auto; /* keeps the cube centered */

// 	transform-origin: 0 100px;
// 	animation: spin-vertical 5s infinite linear;
// }

// .cube-wrap.vertical .top {
// 	transform: rotateX(-270deg) translateY(-100px);
// }

// .cube-wrap.vertical .back {
// 	transform: translateZ(-100px) rotateX(180deg);
// }

// .cube-wrap.vertical .bottom {
// 	transform: rotateX(-90deg) translateY(100px);
// }