.showcase {
  @include form(100%, 85vh);
  @include colors($c1, $s0);
  @include flex(center, default);

  .cube-name {
    position: fixed;
    top: 15; left: 0;
    @include form(30vw, 20vh);
    @include text($text1, 100px);
    @include flex(center, center);
  }

  .cube-select {
    position: fixed;
    right: 0;
    @include form(30vw, 10vh);
    @include colors($c0, $s0);
    @include text($text1, 50px);
    @include flex(center, center);
    text-indent: 2vmin;
    border-radius: 20px;
    margin-right: 5vmin;
    margin-top: 6vh;
    outline: none;
  }

  .control {
    @include form(80vw, 30vh);
    @include flex(space-around, default);
    margin-top: 25vh;
  }

  .stack {
    @include form(100px, 50vh);
    @include column(space-around, center);
  }

  .click {
    @include form(100px, 100px);
    @include text($text1, 5vmin);
    @include colors($c0, $c5-i);
    border-radius: 40%;
  } .click:hover {
      @include colors($c5-i, $s0);
    }
    .click:active {
      @include colors($s2, $c2-i);
    }

  .face {
    @include fill;
    @include colors($_T, $s0);
    @include text($text1, 5vmin);
    @include flex(center, center);
  }
  
  .media {
    @include fill;
  }
}

.shape {
	perspective: 800px;
  perspective-origin: 50% 50px;

  .cube {
    position: relative;
    width: 300px;
    transform-style: preserve-3d;
    transform-origin: 150px 150px 50px;
  }
  
  .cube div {
    position: fixed;
    @include form(300px, 300px);
    @include colors($s0, $s1);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 5px $s1;
  }
  
  .front {
    transform: translateZ(200px);
  }
  .right {
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
  }
  .left {
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
  }
  .back {
    transform: translateZ(-100px) rotateY(180deg);
  }
  .top {
    transform: rotateX(-90deg) translateY(-200px);
    transform-origin: top center;
  }
  .bottom {
    transform: rotateX(90deg) translateY(200px);
    transform-origin: bottom center;
  }
}