.showcase {
  @include form(100%, 85vh);
  @include flex(center, default);

  .cube-name {
    position: fixed;
    top: 100px; left: 200px;
    color: $c1;
    @include form(30vw, 20vh);
    @include text($text1, 100px);
    @include flex(center, center);
  }

  .cube-select {
    position: fixed;
    right: 150px;
    @include form(22vw, 7vh);
    @include colors($c1, $s0);
    @include text($text4, 26px);
    @include flex(center, center);
    text-indent: 2vmin;
    border: 2px solid $c0;
    border-radius: 5px;
    margin-right: 20vmin;
    margin-top: 5vh;
    outline: none;
  }

  .control {
    @include form(60vw, 40vh);
    @include colors($c1, $s0);
    @include flex(space-around, default);
    border: 2px solid $c0;
    border-radius: 5px;
    margin-top: 25vh;
  }

  .stack {
    @include form(0, 35vh);
    @include column(space-around, center);
    margin-top: 20px;
  }

  .click {
    @include form(80px, 80px);
    @include text($text1, 5vmin);
    @include colors($c0, $c5-i);
    border: none;
    border-radius: 5px;
  } .click:hover {
      @include colors($c5-i, $s0);
    }
    .click:active {
      @include colors($s2, $c2-i);
    }

  .face {
    @include fill;
    @include colors($_T, $s1);
    @include text($text1, 4vmin);
    @include flex(center, center);
  }
  
  .media {
    @include fill;
  }

  .side {
    @include form(2vw, 112vh);
    @include colors($c1, $s0);
    opacity: 0.4;
  }
  .left-side {
    @extend .side;
    @include left;
  }
  .right-side {
    @extend .side;
    @include right;
  }
}

.shape {
	perspective: 800px;
  perspective-origin: 50% 50px;

  .cube {
    position: relative;
    width: 300px;
    transform-style: preserve-3d;
    transform-origin: 150px 150px 50px;
  }
  
  .cube div {
    position: fixed;
    @include form(300px, 300px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 5px $s1;
  }
  
  .front {
    transform: translateZ(200px);
  }
  .right {
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
  }
  .left {
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
  }
  .back {
    transform: translateZ(-100px) rotateY(180deg);
  }
  .top {
    transform: rotateX(90deg) translateY(-100px);
    transform-origin: top center;
  }
  .bottom {
    transform: rotateX(-90deg) translateY(100px);
    transform-origin: bottom center;
  }
}