.wrap {
	perspective: 800px;
  perspective-origin: 50% 100px;
}

.cube {
	position: relative;
  width: 200px;
	transform-style: preserve-3d;
}

.cube div {
	position: absolute;
  @include form(200px, 200px);
  @include text($text1, 50px);
  @include colors($s0, $s1);
  @include flex(center, center);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 10px $s5;
}

.front {
  transform: translateZ(100px);
}
.right {
	transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
}
.back {
  transform: translateZ(-100px) rotateY(180deg);
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top center;
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 5s infinite linear;
}

// @keyframes spin-vertical {
// 	from { transform: rotateX(0); }
// 	to { transform: rotateX(-360deg); }
// }

// .cube-wrap.vertical .cube {
// 	margin: 0 auto; /* keeps the cube centered */

// 	transform-origin: 0 100px;
// 	animation: spin-vertical 5s infinite linear;
// }

// .cube-wrap.vertical .top {
// 	transform: rotateX(-270deg) translateY(-100px);
// }

// .cube-wrap.vertical .back {
// 	transform: translateZ(-100px) rotateX(180deg);
// }

// .cube-wrap.vertical .bottom {
// 	transform: rotateX(-90deg) translateY(100px);
// }