.header {
  position: fixed;
  top: 0;
  background: $color3;
  margin-bottom: 20vh;
  @include form(100vw, 8vh);
  @include flex(space-between, center);
}

.lowline {
  position: fixed;
  top: 0;
  margin-top: 8vh;
  background: $color4;
  @include form(100vw, 2vh);
}

.nav {
  @include form(40%, 100%);
  @include flex(space-around, center);
}

.title {
  height: 100%;
  text-decoration: none;
  @include form(60%, 100%);
  @include flex(center, center);
  @include text($font1, 10vmin, 600, $color2);
}

.navtab {
  text-decoration: none;
  @include fill;
  @include flex(center, center);
  @include text($font1, 8vmin, 400, $color2);
}

.navtab:hover {
  background: $color4;
  font-size: 10vmin;
}

.mag {
  @include rotate(-45);
}

// Mobile View
@media(max-width: 800px) {
  .nav {
    @include form(30%, 100%);
  }

  .navbar {
    display: none;
  }

  .search {
    display: none;
  }
}

// Desktop View
@media(min-width: 800px) {
  .title {
    @include form(20%, 100%);
    @include text($font1, 7vmin, 600, $color2);
  }

  .navbar {
    text-decoration: none;
    @include fill;
    @include flex(center, center);
    @include text($font1, 4vmin, 600, $color2);
  }

  .navbar:hover {
    background: $color4;
    font-size: 6vmin;
  }

  .sign {
    color: $color4;
  }

  .sign:hover {
    color: $color2;
  }

  .navtab {
    display: none;
  }
}