@import url("https://fonts.googleapis.com/css?family=Saira:400,600");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button:focus {
  outline: 0; }

button {
  border: none; }

input:focus {
  outline: 0; }

textarea:focus {
  outline: 0; }

.overflow {
  padding-top: 10vh;
  overflow-x: hidden;
  background: black;
  width: 100vw;
  height: 100vh; }

.showcase {
  width: 100%;
  height: 100%; }

.content {
  width: 69vw;
  height: 100%; }

.trim {
  position: fixed;
  background: black;
  padding-top: 3vmin;
  width: 69vw;
  height: 5vmin; }

.trim-fill {
  width: 100%;
  height: 3vh; }

.break {
  width: 100%;
  height: 15vmin; }

.br {
  width: 100%;
  height: 5vmin; }

.push-left {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.column {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: default; }

@media (max-width: 800px) {
  .side {
    display: none; } }

@media (min-width: 800px) {
  .mobile {
    display: none; }
  .trim-fill {
    width: 69vw;
    height: 10vmin; }
  .showcase {
    display: flex;
    justify-content: flex-start;
    align-items: default; }
  .side {
    padding: 5vmin 0 0 3vmin;
    width: 15vw;
    height: 100%; } }

.overflow::-webkit-scrollbar {
  width: 2vmin;
  background: #424242; }

.overflow::-webkit-scrollbar-thumb {
  background-color: #034D99; }

.header {
  position: fixed;
  top: 0;
  background: #424242;
  margin-bottom: 20vh;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.lowline {
  position: fixed;
  top: 0;
  margin-top: 8vh;
  background: #034D99;
  width: 100vw;
  height: 2vh; }

.nav {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.title {
  height: 100%;
  text-decoration: none;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Saira", sans-serif;
  font-size: 10vmin;
  font-weight: 600;
  color: white; }

.navtab {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Saira", sans-serif;
  font-size: 8vmin;
  font-weight: 400;
  color: white; }

.navtab:hover {
  background: #034D99;
  font-size: 10vmin; }

.mag {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@media (max-width: 800px) {
  .nav {
    width: 30%;
    height: 100%; }
  .navbar {
    display: none; }
  .search {
    display: none; } }

@media (min-width: 800px) {
  .title {
    width: 15%;
    height: 100%;
    font-family: "Saira", sans-serif;
    font-size: 7vmin;
    font-weight: 600;
    color: white; }
  .navbar {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Saira", sans-serif;
    font-size: 4vmin;
    font-weight: 600;
    color: white; }
  .navbar:hover {
    background: #034D99;
    font-size: 6vmin; }
  .sign {
    color: #034D99; }
  .up:hover {
    color: white; }
  .navtab {
    display: none; } }

.wrapper {
  background: #034D99;
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; }

.category {
  padding: 3vmin 0 0 3vmin;
  width: 100%;
  height: 10vh;
  font-family: "Saira", sans-serif;
  font-size: 7vmin;
  font-weight: 600;
  color: white; }

.container {
  width: 100%;
  height: 100%; }

.lineup {
  padding-top: 3vmin;
  font-family: "Courier New", sans-serif;
  font-size: large;
  font-weight: 600;
  color: black; }

.descriptor {
  margin-left: 3vmin;
  text-indent: 2vmin;
  width: 43vmin;
  height: 5vmin;
  font-family: "Courier New", sans-serif;
  font-size: large;
  font-weight: 600;
  color: black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; }

.shortform {
  padding: 2vmin;
  margin-left: 3vmin;
  box-sizing: border-box;
  width: 95%;
  height: 20vh;
  font-family: "Courier New", sans-serif;
  font-size: large;
  font-weight: 600;
  color: black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; }

.longform {
  padding: 2vmin;
  margin-left: 3vmin;
  box-sizing: border-box;
  width: 95%;
  height: 40vh;
  font-family: "Courier New", sans-serif;
  font-size: large;
  font-weight: 600;
  color: black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; }

.checkform {
  margin-top: 1.5vmin;
  display: flex;
  justify-content: default;
  align-items: center;
  font-family: "Saira", sans-serif;
  font-size: large;
  font-weight: 600;
  color: white; }

.checkbox {
  width: 3vmin;
  height: 3vmin; }

.caption {
  margin-top: 3vmin;
  font-family: "Saira", sans-serif;
  font-size: 4vmin;
  font-weight: 600;
  color: white; }

.sixty {
  display: flex;
  justify-content: space-around;
  align-items: default; }

.taper {
  background: #034D99;
  margin-bottom: 5vmin;
  width: 100%;
  height: 5vmin;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; }

.button-bar {
  margin-top: 5vmin;
  padding-right: 3.5vmin;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

@media (max-width: 800px) {
  .container {
    width: 100vw;
    height: 30vh; } }

.item-container {
  width: 100%;
  height: 100%; }

.single-item {
  margin: 3vmin 0 0 3.5vmin;
  border-radius: 25px;
  background: #424242;
  width: 95%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: default;
  font-family: "Saira", sans-serif;
  font-size: 5vmin;
  font-weight: 600;
  color: white; }

.item-title {
  text-indent: 3vmin;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.item-menu {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.item-menu-small {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.profile {
  margin-top: 3vmin;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.photo {
  margin-right: 5vmin;
  border: 3px solid white;
  border-radius: 25px;
  background: black;
  width: 25%;
  height: 40vh; }

.info {
  padding: 3vmin;
  border: 3px solid white;
  border-radius: 25px;
  width: 65%;
  height: 40vh; }

.info-line {
  margin-top: 5vmin;
  font-family: "Saira", sans-serif;
  font-size: 7vmin;
  font-weight: 600;
  color: white; }

.guest-info {
  margin-top: 5vmin;
  font-family: "Saira", sans-serif;
  font-size: 12vmin;
  font-weight: 600;
  color: white; }

.small-font {
  margin-bottom: 3vmin;
  font-family: "Saira", sans-serif;
  font-size: 5vmin;
  font-weight: 600;
  color: white; }

.datahead {
  width: 100%;
  height: 10vh;
  font-family: "Saira", sans-serif;
  font-size: 7vmin;
  font-weight: 600;
  color: white; }

.dataline {
  padding-top: 5vmin;
  font-family: "Saira", sans-serif;
  font-size: 5vmin;
  font-weight: 600;
  color: white; }

.databit {
  margin-left: 3vmin;
  width: 100%;
  height: 10vh;
  font-family: "Saira", sans-serif;
  font-size: 5vmin;
  font-weight: 600;
  color: white; }

.paragraph {
  margin: 10vmin 0 0 3vmin;
  padding: 3vmin;
  border: 1px solid white;
  border-radius: 25px;
  background: black;
  width: 95%;
  height: 100%;
  font-family: "Courier New", sans-serif;
  font-size: 3vmin;
  font-weight: 400;
  color: white; }

.dataform {
  margin-top: 1.5vmin;
  font-family: "Saira", sans-serif;
  font-size: large;
  font-weight: 600;
  color: white; }

.book {
  background: #034D99;
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; }

.novel {
  padding-top: 10vmin;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Saira", sans-serif;
  font-size: 10vmin;
  font-weight: 600;
  color: white; }

.volume {
  margin-top: 10vmin;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Saira", sans-serif;
  font-size: 5vmin;
  font-weight: 600;
  color: white; }

.cut {
  background: #034D99;
  margin-bottom: 5vmin;
  width: 100%;
  height: 5vmin;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; }

.search-bar {
  position: fixed;
  background: #034D99;
  width: 69vw;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; }

.search-input {
  border: none;
  background: black;
  text-indent: 2vmin;
  width: 88%;
  height: 95%;
  font-family: "Courier New", sans-serif;
  font-size: large;
  font-weight: 600;
  color: white; }

.search-button {
  background: #034D99;
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Saira", sans-serif;
  font-size: 5vmin;
  font-weight: 400;
  color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; }

@media (max-width: 800px) {
  .search-bar {
    display: none; } }

.button {
  position: absolute;
  border-radius: 25px;
  background: #424242;
  width: 27vmin;
  height: 10vmin;
  font-family: "Saira", sans-serif;
  font-size: 4vmin;
  font-weight: 600;
  color: black; }

.button:hover {
  background: #034D99;
  font-family: "Saira", sans-serif;
  font-size: 5vmin;
  font-weight: 600;
  color: white; }

.button2 {
  margin-left: 5vmin;
  border-radius: 25px;
  background: black;
  width: 12vw;
  height: 10vh;
  font-family: "Saira", sans-serif;
  font-size: 5vmin;
  font-weight: 600;
  color: white; }

.button2:hover {
  background: white;
  font-family: "Saira", sans-serif;
  font-size: 6vmin;
  font-weight: 600;
  color: #034D99; }

.button3 {
  border-radius: 25px;
  background: #424242;
  width: 100%;
  height: 100%;
  font-family: "Saira", sans-serif;
  font-size: 5vmin;
  font-weight: 600;
  color: white; }

.button3:hover {
  background: white;
  font-family: "Saira", sans-serif;
  font-size: 6vmin;
  font-weight: 600;
  color: #034D99; }

.round-right {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; }

.round-left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; }

@media (max-width: 800px) {
  .button {
    position: static;
    font-family: "Saira", sans-serif;
    font-size: 6vmin;
    font-weight: 600;
    color: black;
    width: 40vw;
    height: 10vh; } }
