@import url("https://fonts.googleapis.com/css?family=Bitter");
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina");
@import url("https://fonts.googleapis.com/css?family=Iceland");
@import url("https://fonts.googleapis.com/css?family=Gruppo");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: inherit; }

input {
  box-sizing: border-box; }

input:focus {
  outline: 0; }

button:hover {
  cursor: pointer; }

button:focus {
  outline: 0; }

textarea:focus {
  outline: 0; }

@media (min-width: 800px) {
  body::-webkit-scrollbar {
    width: 1vw;
    background: #34495E; }
  body::-webkit-scrollbar-thumb {
    background: #1F618D; }
  body::-webkit-scrollbar-thumb:hover {
    background: #4fc5d1; } }

@keyframes slideLTR {
  0% {
    left: -32vmin; }
  100% {
    left: 0vmin; } }

@keyframes slideRTL {
  0% {
    left: 0vmin; }
  100% {
    left: -32vmin; } }

@keyframes fourSquare {
  0% {
    background: #fff;
    left: -70vmin;
    top: -10vmin; }
  25% {
    background: #555;
    left: 70vmin;
    top: -10vmin; }
  50% {
    background: #000;
    left: 70vmin;
    top: 15vmin; }
  75% {
    background: #555;
    left: -70vmin;
    top: 15vmin; }
  100% {
    background: #fff;
    left: -70vmin;
    top: -10vmin; } }

.header .overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  background: #34495E;
  color: #fff;
  font-family: "Iceland", sans-serif;
  font-size: 8vmin;
  display: flex;
  justify-content: default;
  align-items: center;
  border-bottom: 1vmin solid #1F618D;
  z-index: 1000; }

.header .nav {
  width: 5vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
  padding-top: 1vmin; }

.header .menu {
  color: #4fc5d1; }

.header .title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header .log {
  width: 8vw;
  height: 100%;
  display: flex;
  justify-content: default;
  align-items: flex-start;
  padding-top: 2vmin;
  font-size: 5vmin; }

.header .line {
  color: #4fc5d1; }

.header .static {
  background: transparent;
  color: #000;
  width: 100%;
  height: 15vh; }

@media (max-width: 800px) {
  .header .overlay {
    height: 12vh;
    font-size: 12vmin;
    padding-left: 5vmin; }
  .header .nav {
    font-size: 7vmin;
    margin-right: 5vmin; }
  .header .log {
    font-size: 7vmin;
    width: 25vw; }
  .header .static {
    height: 10vh; } }

@media (min-width: 800px) {
  .header .menu:hover {
    color: #93cb7c;
    cursor: pointer; }
  .header .line:hover {
    color: #93cb7c;
    cursor: pointer; } }

.LTR {
  animation-name: "slideLTR";
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.RTL {
  animation-name: "slideRTL";
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.slider {
  left: -32vh;
  position: fixed;
  bottom: 0;
  width: 15vw;
  height: 85vh;
  background: #1F618D;
  color: #fff;
  overflow-y: scroll;
  z-index: 1000; }
  .slider .column {
    padding-bottom: 2vmin; }
  .slider .title {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Iceland", sans-serif;
    font-size: 5vmin;
    color: #93cb7c; }
  .slider .row {
    width: 100%;
    height: 7vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gruppo", sans-serif;
    font-size: 3vmin; }
  .slider .row:hover {
    background: #93cb7c;
    color: #fff;
    font-weight: bold;
    font-size: 4vmin; }

.slider::-webkit-scrollbar {
  width: 1.5vmin;
  background: #34495E; }

.slider::-webkit-scrollbar-thumb {
  background: #4fc5d1; }

@media (max-width: 800px) {
  .slider {
    width: 50vw;
    height: 88vh; }
    .slider .title {
      font-family: "Iceland", sans-serif;
      font-size: 7vmin; }
    .slider .row {
      width: 100%;
      height: 7vmin;
      font-family: "Gruppo", sans-serif;
      font-size: 5vmin; } }

.landing {
  width: 100%;
  height: 85vh; }
  .landing .center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: default;
    padding-top: 5vh; }
  .landing .content {
    width: 40vw;
    height: 70vh;
    background: #1F618D;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: default;
    align-items: center;
    border: 2px solid #34495E;
    border-radius: 5px;
    padding-top: 5vh; }
  .landing .title {
    font-family: "Iceland", sans-serif;
    font-size: 60px; }
  .landing .caption {
    font-family: "Bitter", serif;
    font-size: 25px;
    padding-top: 5vh; }
  .landing .login {
    font-family: "Iceland", sans-serif;
    font-size: 120px;
    color: #4fc5d1;
    padding-top: 10vh; }
  .landing .login:hover {
    color: #93cb7c; }
  .landing .details {
    font-family: "Bitter", serif;
    font-size: 25px;
    padding-top: 5vh; }
  .landing .side, .landing .left, .landing .right, .landing .showcase .left-side, .showcase .landing .left-side, .landing .showcase .right-side, .showcase .landing .right-side {
    width: 2vw;
    height: 112vh;
    background: #1F618D;
    color: #fff;
    opacity: 0.4; }
  .landing .left {
    position: fixed;
    left: 0; }
  .landing .right {
    position: fixed;
    right: 0; }

@media (max-width: 800px) {
  .landing {
    width: 100%;
    height: 90vh; }
    .landing .content {
      width: 80vw;
      height: 80vh; }
    .landing .title {
      font-family: "Iceland", sans-serif;
      font-size: 35px; }
    .landing .caption {
      font-family: "Bitter", serif;
      font-size: 15px; }
    .landing .login {
      font-family: "Iceland", sans-serif;
      font-size: 100px; }
    .landing .details {
      font-family: "Iceland", sans-serif;
      font-size: 25px; } }

.showcase {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: default; }
  .showcase .cube-name {
    position: fixed;
    top: 100px;
    left: 200px;
    color: #1F618D;
    width: 30vw;
    height: 20vh;
    font-family: "Iceland", sans-serif;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .showcase .cube-select {
    position: fixed;
    right: 150px;
    width: 22vw;
    height: 7vh;
    background: #1F618D;
    color: #fff;
    font-family: "Gruppo", sans-serif;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 2vmin;
    border: 2px solid #34495E;
    border-radius: 5px;
    margin-right: 20vmin;
    margin-top: 5vh;
    outline: none; }
  .showcase .control {
    width: 60vw;
    height: 40vh;
    background: #1F618D;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: default;
    border: 2px solid #34495E;
    border-radius: 5px;
    margin-top: 25vh; }
  .showcase .stack {
    width: 0;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px; }
  .showcase .click {
    width: 80px;
    height: 80px;
    font-family: "Iceland", sans-serif;
    font-size: 5vmin;
    background: #34495E;
    color: #4fc5d1;
    border: none;
    border-radius: 5px; }
  .showcase .click:hover {
    background: #4fc5d1;
    color: #fff; }
  .showcase .click:active {
    background: #555;
    color: #93cb7c; }
  .showcase .face {
    width: 100%;
    height: 100%;
    background: transparent;
    color: #000;
    font-family: "Iceland", sans-serif;
    font-size: 4vmin;
    display: flex;
    justify-content: center;
    align-items: center; }
  .showcase .media {
    width: 100%;
    height: 100%; }
  .showcase .side, .showcase .landing .left, .landing .showcase .left, .showcase .landing .right, .landing .showcase .right, .showcase .left-side, .showcase .right-side, .showcase .cube-form .left, .cube-form .showcase .left, .showcase .cube-form .right, .cube-form .showcase .right, .showcase .profile .left, .profile .showcase .left, .showcase .profile .right, .profile .showcase .right {
    width: 2vw;
    height: 112vh;
    background: #1F618D;
    color: #fff;
    opacity: 0.4; }
  .showcase .left-side {
    position: fixed;
    left: 0; }
  .showcase .right-side {
    position: fixed;
    right: 0; }

.shape {
  perspective: 800px;
  perspective-origin: 50% 50px; }
  .shape .cube {
    position: relative;
    width: 300px;
    transform-style: preserve-3d;
    transform-origin: 150px 150px 50px; }
  .shape .cube div {
    position: fixed;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 5px #000; }
  .shape .front {
    transform: translateZ(200px); }
  .shape .right {
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right; }
  .shape .left {
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left; }
  .shape .back {
    transform: translateZ(-100px) rotateY(180deg); }
  .shape .top {
    transform: rotateX(90deg) translateY(-100px);
    transform-origin: top center; }
  .shape .bottom {
    transform: rotateX(-90deg) translateY(100px);
    transform-origin: bottom center; }

.cube-form {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .cube-form .form {
    width: 100%;
    height: 85vh;
    border-radius: 10px; }
  .cube-form .creator {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vmin; }
  .cube-form .form-title {
    width: 40%;
    height: 10vh;
    background: #fff;
    color: #1F618D;
    font-family: "Iceland", sans-serif;
    font-size: 70px; }
  .cube-form .name {
    width: 400px;
    height: 60px;
    background: #1F618D;
    color: #fff;
    font-family: "Gruppo", sans-serif;
    font-size: 28px;
    font-weight: 600;
    border: 2px solid #34495E;
    border-radius: 5px;
    text-indent: 3vmin;
    outline: none; }
  .cube-form .name::placeholder {
    color: white;
    opacity: 0.5; }
  .cube-form .form-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    font-family: "Iceland", sans-serif;
    font-size: 40px;
    margin-top: 5vmin; }
  .cube-form .form-block {
    width: 50vw;
    height: 100%;
    background: #1F618D;
    color: #fff;
    border: 2px solid #34495E;
    border-radius: 5px; }
  .cube-form .selector {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vmin; }
  .cube-form .type {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: default;
    align-items: center;
    margin-right: 20px; }
  .cube-form .dropdown {
    width: 300px;
    height: 40px;
    background: #34495E;
    color: #fff;
    font-family: "Gruppo", sans-serif;
    font-size: 22px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-indent: 2vmin;
    outline: none; }
  .cube-form .media {
    width: 100%;
    height: 10vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .cube-form .submit {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .cube-form .save, .cube-form .small-save {
    width: 15vw;
    height: 10vh;
    background: #34495E;
    color: #4fc5d1;
    font-family: "Iceland", sans-serif;
    font-size: 50px;
    border: none;
    border-radius: 5px; }
  .cube-form .save:hover, .cube-form .small-save:hover {
    background: #4fc5d1;
    color: #fff; }
  .cube-form .save:active, .cube-form .small-save:active {
    background: #555;
    color: #93cb7c; }
  .cube-form .save:disabled, .cube-form .small-save:disabled {
    opacity: 0.8;
    cursor: default; }
  .cube-form .save:disabled:hover, .cube-form .small-save:disabled:hover {
    background: #34495E;
    color: #4fc5d1; }
  .cube-form .small-save {
    width: 8vw;
    height: 6vh;
    font-family: "Iceland", sans-serif;
    font-size: 32px; }
  .cube-form .markers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 50px;
    font-family: "Iceland", sans-serif;
    font-size: 24px;
    margin-right: 100px; }
  .cube-form .mark, .cube-form .mark-on {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #34495E;
    color: #fff;
    border-radius: 5px; }
  .cube-form .mark-on {
    background: #93cb7c;
    color: #000; }
  .cube-form .side, .cube-form .showcase .left-side, .showcase .cube-form .left-side, .cube-form .showcase .right-side, .showcase .cube-form .right-side, .cube-form .left, .cube-form .right {
    width: 2vw;
    height: 112vh;
    background: #1F618D;
    color: #fff;
    opacity: 0.4; }
  .cube-form .left {
    position: fixed;
    left: 0; }
  .cube-form .right {
    position: fixed;
    right: 0; }

.profile {
  width: 100%;
  height: 85vh; }
  .profile .center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: default;
    padding-top: 5vh; }
  .profile .content {
    width: 40vw;
    height: 70vh;
    background: #1F618D;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: default;
    align-items: center;
    border: 2px solid #34495E;
    border-radius: 5px;
    padding-top: 5vh; }
    .profile .content .title {
      font-family: "Iceland", sans-serif;
      font-size: 60px; }
    .profile .content .caption {
      font-family: "Bitter", serif;
      font-size: 25px;
      padding-top: 5vh; }
    .profile .content .login {
      font-family: "Iceland", sans-serif;
      font-size: 120px;
      color: #4fc5d1;
      padding-top: 10vh; }
    .profile .content .login:hover {
      color: #93cb7c; }
    .profile .content .details {
      font-family: "Bitter", serif;
      font-size: 25px;
      padding-top: 5vh; }
  .profile .side, .profile .showcase .left-side, .showcase .profile .left-side, .profile .showcase .right-side, .showcase .profile .right-side, .profile .left, .profile .right {
    width: 2vw;
    height: 112vh;
    background: #1F618D;
    color: #fff;
    opacity: 0.4; }
  .profile .left {
    position: fixed;
    left: 0; }
  .profile .right {
    position: fixed;
    right: 0; }
