@import url("https://fonts.googleapis.com/css?family=Saira:400,600");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  margin-top: 8vh;
  background: #FF4040;
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.title {
  margin-left: 5vmin;
  font-family: "Saira", sans-serif;
  font-size: 10vmin;
  font-weight: 600;
  color: white; }

.sessionbar {
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.session {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Saira", sans-serif;
  font-size: 4vmin;
  font-weight: 600;
  color: white; }

.session:hover {
  background: #424242;
  font-size: 5vmin; }

.breakline {
  background: white;
  width: 100%;
  height: 2vh; }

.navbar {
  position: fixed;
  top: 0;
  background: #424242;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.nav {
  text-decoration: none;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Saira", sans-serif;
  font-size: 4vmin;
  font-weight: 600;
  color: white; }

.nav:hover {
  background: #FF4040;
  font-size: 6vmin; }

.navtab {
  display: none; }

@media (max-width: 800px) {
  .header {
    margin-top: 0;
    width: 100vw;
    height: 15vh; }
  .title {
    font-size: 15vmin; }
  .sessionbar {
    display: inline;
    width: 25vw;
    height: 100%; }
  .session {
    width: 100%;
    height: 50%; }
  .session:hover {
    font-size: 6vmin; }
  .navtab {
    position: fixed;
    bottom: 5vh;
    background: #FF4040;
    width: 15vmin;
    height: 15vmin;
    display: flex;
    justify-content: center;
    align-items: center; }
  .menu {
    text-decoration: none;
    width: 100%;
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Saira", sans-serif;
    font-size: 8vmin;
    font-weight: 400;
    color: white;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .navbar {
    display: none; } }

.showcase {
  background: black;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: default; }

.mobile {
  background: #424242;
  width: 90vh;
  height: 30vh; }

@media (min-width: 800px) {
  .full {
    display: flex;
    justify-content: default;
    align-items: default; }
  .half {
    margin-right: 2vmin;
    width: 80vh;
    height: 70vh; }
  .tall {
    margin-right: 2vmin;
    background: #424242;
    width: 40vh;
    height: 70vh; }
  .wide {
    background: #FF4040;
    width: 80vh;
    height: 34vh; }
  .mobile {
    display: none; }
  .top {
    margin-bottom: 2vmin; } }

.about {
  margin-top: 1vh;
  background: black;
  width: 100vw;
  height: 300vh;
  font-family: "Saira", sans-serif;
  font-size: 10vmin;
  font-weight: 600;
  color: white; }

.archive {
  margin-top: 1vh;
  background: black;
  width: 100vw;
  height: 300vh;
  font-family: "Saira", sans-serif;
  font-size: 10vmin;
  font-weight: 600;
  color: white; }

.contact {
  margin-top: 1vh;
  background: black;
  width: 100vw;
  height: 300vh;
  font-family: "Saira", sans-serif;
  font-size: 10vmin;
  font-weight: 600;
  color: white; }

body {
  overflow-x: hidden; }
