.item-container {
  @include fill;
}

.single-item {
  margin: 3vmin 0 0 3.5vmin;
  border-radius: 25px;
  background: $color3;
  @include form(95%, 10vh);
  @include flex(space-between, default);
  @include text($font1, 5vmin, 600, $color2);
}

.item-title {
  text-indent: 3vmin;
  @include flex(flex-start, center);
}

.item-menu {
  @include form(65%, 100%);
  @include flex(flex-end, center);
}

.item-menu-small {
  @include form(40%, 100%);
  @include flex(flex-end, center);
}

.profile {
  margin-top: 3vmin;
  @include fill;
  @include flex(center, center);
}

.photo {
  margin-right: 5vmin;
  border: 3px solid $color2;
  border-radius: 25px;
  background: $color1;
  @include form(25%, 40vh);
}

.info {
  padding: 3vmin;
  border: 3px solid $color2;
  border-radius: 25px;
  @include form(65%, 40vh);
}

.info-line {
  margin-top: 5vmin;
  @include text($font1, 7vmin, 600, $color2);
}

.guest-info {
  margin-top: 5vmin;
  @include text($font1, 12vmin, 600, $color2);
}

.small-font {
  margin-bottom: 3vmin;
  @include text($font1, 5vmin, 600, $color2);
}

// // Desktop View
// @media(min-width: 800px) {

// }

// // Mobile View
// @media(max-width: 800px) {
//   .container {
//     @include form(100vw, 30vh);
//   }
// }